<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <ion-card>
    <ion-card-title>
      Marcador de tento
    </ion-card-title>
  </ion-card>

  <div>
    <div class="text1">
      <ion-label>
        Valendo: {{ valendo }}
      </ion-label>
    </div>
    <div class="button">
      <ion-button size="large" (click)="mudartento(1)">1</ion-button>
      <ion-button size="large" (click)="mudartento(3)">3</ion-button>
      <ion-button size="large" (click)="mudartento(6)">6</ion-button>
      <ion-button size="large" (click)="mudartento(9)">9</ion-button>
      <ion-button size="large" (click)="mudartento(12)">12</ion-button>
    </div>
    <div class="button2">
      <div>
        <ion-label>
          Time 1
        </ion-label>
        <ion-button size="large" (click)="somatento1()">+</ion-button>
        <ion-chip>
          {{ pontos1 }}
        </ion-chip>
        <ion-button size="large" (click)="diminuitento1()">-</ion-button>
      </div>
      <div>
        <ion-label>
          Time 2
        </ion-label>
        <ion-button size="large" (click)="somatento2()">+</ion-button>
        <ion-chip>
          {{ pontos2 }}
        </ion-chip>
        <ion-button size="large" (click)="diminuitento2()">-</ion-button>
      </div>
    </div>

    <div class="div-bottom">
      <div class="result">
        <ion-title>
          Partidas
        </ion-title>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Time 1</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Time 2</ion-label>
        </ion-chip>
      </div>
      <div class="result2">
        <ion-chip>
          {{ time1 }}
        </ion-chip>
        <ion-chip>
          {{ time2 }}
        </ion-chip>
      </div>
    </div>
    <ion-button size="medium" (click)="clear()">
      Limpar
    </ion-button>
  </div>

</ion-content>
