<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <div class="text1">
      <ion-label>
        Valendo 1
      </ion-label>
    </div>
    <div class="button">
      <ion-button>1</ion-button>
      <ion-button>3</ion-button>
      <ion-button>6</ion-button>
      <ion-button>9</ion-button>
      <ion-button>12</ion-button>
    </div>
    <div class="button2">
      <div>
        <ion-label>
          Time 1
        </ion-label>
        <ion-button>+</ion-button>
        <ion-label>
          0
        </ion-label>
        <ion-button>-</ion-button>
      </div>
      <div>
        <ion-label>
          Time 2
        </ion-label>
        <ion-button>+</ion-button>
        <ion-label>
          0
        </ion-label>
        <ion-button>-</ion-button>
      </div>
    </div>

    <div class="div-bottom">
      <div class="result">
        <ion-label>Partidas</ion-label>
        <ion-label>Time 1</ion-label>
        <ion-label>Time 2</ion-label>
      </div>
      <div class="result2">
        <ion-label>0</ion-label>
        <ion-label>0</ion-label>
      </div>
    </div>
    <ion-button>
      Limpar
    </ion-button>
  </div>

</ion-content>
