.button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;

}

ion-toolbar{
  text-align: center;
}

.button2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  text-align: center;
  margin-top: 20px;
}

.text1{
  text-align: center;
  margin-top: 20px;
}

.result{
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-left: 20px;
  text-align: end;
}
.result2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  margin-left: 20px;
}

.div-bottom{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

ion-button{
  --background: #cfcfcf;
  color: #000000;
}

ion-chip {
  --background: #cfcfcf;
  --color: #000;
}

ion-card-title{
  text-align: center;
  background-color: #cfcfcf;
  color: #000000;
}

.clear{
  margin-left: 20px;
  margin-right: 20px;

}
