.container-coin{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

img{
  height: 50%;
  border-radius: 50%;
  box-shadow: 20px 19px 2px -9px rgba(0,0,0,0.66);

}

.btn{
  cursor: pointer;
}
